@model InvoiceItemViewModel 
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-form-label" asp-for="ItemId"></label>
                            <select asp-for="ItemId" asp-items="@Model.AvailableItems"
                            class="form-control" >
                            <option>Choose an Item...</option>
                            </select>

                            <span asp-validation-for="ItemId" class="text-danger"></span>
                        </div>
                    @*@Html.DropDownListFor(x => Model.ItemId, Model.AvailableItems, "Select Item", new { @class = "form-control" })*@
                    </td>
                    <td>
                    <div class="form-group">
                    <label class="col-form-label" asp-for="Unit"></label>
                    <select asp-for="Unit" asp-items="@Model.AvailableUnits" class="form-control"
                    id = "InvoiceItemsViewModelUnit" >
                    <option>Choose a Unit...</option>
                    </select>

                    <span asp-validation-for="Unit" class="text-danger"></span>
                    </div>
                    @*@Html.DropDownListFor(x => Model.Unit, Model.AvailableUnits, "Select Unit", new { @class = "form-control" })*@
                    </td>
                    <td>
                    <div class="form-group">
                    <label class="col-form-label" asp-for="Quantity"></label>
                    <input type="number" class="form-control" asp-for="Quantity"
                    id = "InvoiceItemsViewModelQuantity" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    @*@Html.TextBoxFor(x => Model.Quantity, new { @class = "form-control" })*@
                    </td>
                    <td>
                    <div class="form-group">
                    <label class="col-form-label" asp-for="Price"></label>
                    <input type="number" class="form-control" asp-for="Price"
                    id = "InvoiceItemsViewModelPrice" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    @*@Html.TextBoxFor(x => Model.Price, new { @class = "form-control" })*@
                    </td>
                    <td>
                    <div class="form-group">
                    <label class="col-form-label" asp-for="InvoiceItemTotal"></label>
                    <input type="number" class="form-control" asp-for="InvoiceItemTotal"
                    id = "InvoiceItemsViewModelInvoiceItemTotal" />
                    <span asp-validation-for="InvoiceItemTotal" class="text-danger"></span>
                    </div>
                    @*@Html.TextBoxFor(x => Model.Total, new { @class = "form-control", @readonly = "readonly" })*@
                    </td>
                    <td>
                    <div class="form-group">
                    <label class="col-form-label" asp-for="Discount"></label>
                    <input type="number" class="form-control" asp-for="Discount"
                    id = "InvoiceItemsViewModelDiscount" />
                    <span asp-validation-for="Discount" class="text-danger"></span>
                    </div>
                    @*@Html.TextBoxFor(x => Model.Discount, new { @class = "form-control" })*@
                    </td>
                    <td>
                    <div class="form-group">
                    <label class="col-form-label" asp-for="InvoiceItemNet"></label>
                    <input type="number" class="form-control" asp-for="InvoiceItemNet"
                    id = "InvoiceItemsViewModelInvoiceItemNet"  />
                    <span asp-validation-for="InvoiceItemNet" class="text-danger"></span>
                    </div>
                    @*@Html.TextBoxFor(x => Model.Net, new { @class = "form-control", @readonly = "readonly" })*@
                    </td>
                        <td>
        <button type="button" class="btn btn-danger removeRowButton">Remove</button>
    </td>
                </tr>